<nav class="navbar navbar-default navbar-fixed-top" id="topBar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#home">Amandeep Singh</a>
    <div class="collapse navbar-collapse" id="scroll-spy">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav> 
<div class="container" id="about">
  <div class="jumbotron"> 
    <h1> Love to Create, Enhance and Sustain Software Solutions</h1>
    <p class="lead"> Fullstack Software Engineer, with experience in C++ and Javascript</p>
  </div>
</div>
<div class="container" id="portfolio">
  <h1 class="title text-center">Portfolio</h1>
  <div class="grid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
        <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay"><img src="img/portfolio/a4-paper.jpg" alt="" class="img-responsive"></a>
          <div class="box-masonry-hover-text-header"> 
            <h4> <a href="detail.html">Name of the work 1</a></h4>
            <div class="box-masonry-desription">
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life. One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center" style="width:auto;">
    <button class="btn btn-unique"> More Projects <i class="fa fa-angle-right ml-1"></i></button>
  </div>
</div>


<div class="container" id="blog">
  <h1 class="title text-center">Blog</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Test driven development and Deployment Part 1- Mocha and JSDOM
            </h2>
            <h3 class="post-subtitle">
              Creating test suite for front-end and backend
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Amandeep</a>
            on December 27, 2017</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Test driven development and Deployment Part 2- Travis and Coverall
            </h2>
            <h3 class="post-subtitle">
              Automating deployment and buidl process
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Amandeep</a>
            on December 28, 2017</p>
        </div>
        <hr>

      </div>
    </div>
  </div>
  <div class="blog-buttons">
    <a href="#" class="previous ">&laquo; Newer</a>
    <a href="#" class="next">Older &raquo;</a>
    <button class="btn btn-unique"> Checkout All Blog Entries <i class="fa fa-angle-right ml-1"></i></button>
  </div>

</div>

<div class="container" id="contact">
  <h1 class="title text-center">Contact</h1>
  <div class="row">
    <div class="col-md-6">
      <form class="mt-5" style="width:auto;" id="contact-form">
        <p class="h5 text-center mb-4"> Contact Form</p>

        <div class="md-form">
          <label for="form3">Name</label>
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" id="form3" class="form-control">
        </div>
        
        <div class="md-form">
          <label for="form2">Email</label>
          <span><i class="fa fa-envelope prefix grey-text"></i></span>
          <input type="text" id="form2" class="form-control">
        </div>
      
        <div class="md-form">
          <label for="form32">Subject</label>
          <i class="fa fa-tag prefix grey-text"></i>
          <input type="text" id="form32" class="form-control">
        </div>
        
        <div class="form-group">
          <label for="form8">Message</label>
          <span><i class="fa fa-pencil prefix grey-text"></i></span>
          <textarea type="text" id="form8" class="md-textarea" rows="8" style="width:100%; box-sizing:border-box;"></textarea>
        </div>
        
        <div class="text-center" style="width:auto;">
          <button class="btn btn-unique">Send <i class="fa fa-paper-plane ml-1"></i></button>
        </div>
        
      </form>
    </div>
  
    <div class="col-md-6"">
      <h4> Want to get in touch with me? Be it to request more info about myself or my experience, to ask for my resume, tips on how to solve your competetive programming, random questions about the universe and the meaning of life, or even if only for some nice food here in stunning New York... just feel free to drop me a line anytime. 
  I promise to reply A.S.A.P.</h4>
    </div>
  </div>
</div>

<footer class="page-footer">
  <div class="container-fluid" id="footerDiv">
    <div class="row">
      <div class="col-md-6"> 
        <h3 class="title"> About this page</h3>
        <h4> Made with 
          <span> 
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/JQuery_logo_text.svg" class="logo">
          </span>
          and 
          <span> 
            <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" class="logo">
          </span>
        </h4>
      </div>
      <div class="col-md-6">
        <h3 class="title"> AROUND THE WEB</h3>
          <a type="button" class="btn btn-floating btn-large btn-fa" class= href="href="https://twitter.com/ASinghChhabra"><i  id="social-tw" class="fa fa-3x fa-twitter social"></i></a>
          <a type="button" class="btn btn-floating btn-large btn-li" href="https://www.linkedin.com/in/singh/"><i id="social-in" class="fa fa-linkedin fa-3x social"></i></a>
          <a type="button" class="btn btn-floating btn-large btn-git" href="https://github.com/aschhabra"><i id="social-gh" class="fa fa-github fa-3x social"></i></a>
      </div>
    </div>
  </div>
</footer>
